.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.823);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #360101;
  padding: 2rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.modal-buttons {
  margin-top: 1rem;
}

.modal-buttons button {
  margin-right: 1rem;
}
